.image_grid {
    display: grid;
    gap: 0.1rem;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.image_grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form_input {
    margin: 1rem 1rem 1rem 1rem;
    display: grid;
    gap: 10px;
    grid-template-columns: 5fr 1fr 1fr;
}

.form_input button {
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
}

.form_input button[type="button"] {
    background-color: rgb(255, 40, 40);
}

/* Middile screen */



.middle_main .item__bottom {
    position: relative;
    z-index: 3;
    /* width: 100%; */
}

.middle_main .item__top {
    position: relative;
    z-index: 2;
    /* width: 100%; */
}

.middle_main img {
    /* width: 100%; */
    max-width: 100%;
}

.middle_main .item__bottom img {
    position: absolute;
    top: 390px;
    left: 60px;
    max-width: 100%;
}

.middle_main .item__top img {
    position: absolute;
    top: 5px;
    left: 25px;
    max-width: 100%;
}
